.alCenter {
	text-align: center;
}

.alRight {
	text-align: right;
}

.alLeft {
	text-align: left
}
.alJustify {
	text-align: justify;
}

h3.alCenter {
	text-align: center
}

p.alCenter {
	text-align: center
}

table,p {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 77%;
}

.table-border {
	border: 2px solid black;
}

.table-border th,.table-border td .table-border tr {
	border: 0px solid black;
}

.w600Table {
	width: 600px
}

.w200Column {
	width: 200px
}

.w300Column {
	width: 300px
}